# Ignore config with sensitive info
config.ini

# Ignore database and logs
*.log
*.xlsx
*.txt

# Python cache
__pycache__/
*.class

# Virtual environment
venv/
env/
ENV/
.venv/

# PyCharm files
.idea/

# Data directories