[EMAIL]
smtp_server = smtp.gmail.com
smtp_port = 587
email = premvishnoisoft@gmail.com
password = x

send_real_emails = False

[JOB_SEARCH]
;job_titles = Head of Data, Lead Data Engineer, Hadoop Head , Data Head , Product Head
job_titles = Data Engineer, Lead Data Engineer

locations = Worldwide, Remote, New York, London, Singapore, Hong Kong, Vietnam, Thailand
;locations = Singapore

days_old = 7
blacklisted_companies = Makro, cpaxtra, lotuss
search_linkedin = True
search_indeed = False
search_glassdoor = False
search_interval_minutes = 10

[APPLICATION]
cv_path = data/resumes/my_resume.pdf
follow_up_days = 7
max_applications_per_day = 1000
application_delay_minutes = 1